body {
    padding: 100px;
}
    .face {
        width: 500px;
        height: 500px;
        background: beige;
        border: 1px solid black;
        border-radius: 50%;
        position: relative;
    }
    .nose {
        width: 20px;
        height: 20px;
        background: black;
        position: absolute;
        top: 240px;
        left: 250px;
        border-radius: 50%;}
    .eye1 {
        width: 40px;
        height: 40px;
        background: black;
        position: absolute;
        top: 120px;
        left: 120px;
        border-radius: 50%;}
    .eye2 {
        width: 40px;
        height: 40px;
        background: black;
        position: absolute;
        top: 120px;
        left: 360px;
        border-radius: 50%;}
    .mouth {
        width: 280px;
        height: 40px;
        /* background: black; */
        position: absolute;
        top: 340px;
        left: 120px;
        border: 5px solid black;
        border-radius: 50%;
        border-width: 0 0 5px 0;}
    .nose:hover {
        background: blue;}
    .face:hover {
        cursor:help;}
    .face:hover .mouth {
        transition-duration: 2s;
        border: 5px solid red;
        border-width: 0 0 5px 1;
        border-radius: 50%;}
    .face:hover {
        transition-duration: 2s;
        background-color: salmon;
    }